<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Health Risk App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="center-container">
        <div class="home-box">
            <h1>Health Risk Assessment</h1>
            <p>Predict your health tier using machine learning.</p>
            <br>
            <div>
                <a href="/predict" class="btn">Start Prediction</a>
                <a href="/learn_more" class="btn btn-outline">Documentation</a>
            </div>
        </div>
    </div>
</body>
</html>